
/*******************************************************************************
  --- Element Selectors ---
*******************************************************************************/

body {
    font-family: "Georgia", "Times New Roman", Times, serif;
    background-color: #f8f8f8;
}


h1 {
    font-size: 0.9em;
    color: #555;
    margin: 30px 45px 20px;
    text-align: center;
}

h2 {
    font-size: 0.9em;
    line-height: 1.2em;
}

p {
    font-size: 0.7em;
    line-height: 0.65em;
    opacity: 0.6;
    font-weight: 400;
}

li {
    list-style-type: none;
}



/*******************************************************************************
  --- ID Selectors ---
*******************************************************************************/

#employees {
    margin: 25px;
    text-align: center;
    } #employees h1 {
        text-align: left;
    }



/*******************************************************************************
--- Class Selectors ---
*******************************************************************************/

.employee {
    background-color: white;
    max-width: 260px;
    min-width: 260px;
    padding: 15px 15px 20px 15px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    text-overflow: clip;
    white-space: nowrap;
    } .employee:hover {
        border-color: black;
    } .employee-avatar {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-bottom: -12px;
    } .employee-details {
        display: inline-block;
        text-align: left;
        padding-left: 15px;
        text-overflow: clip;
        white-space: nowrap;
    }



/*******************************************************************************
  --- Media Queries ---
*******************************************************************************/

@media (max-width: 740px) {

    #employees {
        margin: 0;
        } #employees h1 {
            text-align: center;
        }

    .employee {
        display: table;
        max-width: none;
        width: 70%;
        margin-left: 12%;
        padding-top: 40px;
        padding-bottom: 57px;
    }
}

@media (min-width: 741px) {

    .employee {
        display: inline-block;
    }
}
