
/*******************************************************************************
  --- Element Selectors ---
*******************************************************************************/

body {
    font-family: "Georgia", "Times New Roman", Times, serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
}

h1 {
    font-size: 0.9em;
    color: #555;
    width: 65%;
    margin-left: 3%;
}

h2 {
    font-size: 0.9em;
    line-height: 1.2em;
}

p {
    font-size: 0.7em;
    line-height: 0.65em;
    opacity: 0.6;
    font-weight: 400;
}

ul {
    text-align: left;
}

li {
    list-style-type: none;
}



/*******************************************************************************
  --- ID Selectors ---
*******************************************************************************/

#search {
    height: 28px;
    width: 28%;
    font-size: 14px;
    padding: 15px 17px;
    border: 2px solid #666;
    border-radius: 7px;
    } #search:focus {
        outline-style: none;
    }

#employees {
    margin: 25px;
    text-align: center;
    } #employees h1 {
        text-align: left;
    }

#no-results {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

#blur {
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
} #load-status {
    color: white;
    font-size: 24px;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
}

#overlay {
    text-align: center;
    font-size: 1.15em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 80px auto 0;
    width: 560px;
    height: auto;
    } #overlay-background {
        background: white;
        position: static;
        border: 2px solid #ccc;
        border-radius: 6px;
        padding-bottom: 40px;
    } #overlay-close {
        display: flex;
        float: right;
        line-height: 0;
        font-size: 22px;
        font-style: oblique;
        margin-top: 8px;
        margin-right: 6px;
        padding: 20px;
        font-family: "Tahoma" helvetica;
    } #overlay-close:hover {
        color: lightgray;
        transition: 0.25s;
    } #overlay-slide-left {
        color: white;
        position: absolute;
        right: 103%;
        top: 200px;
        font-size: 42px;
        padding: 35px;
    } #overlay-slide-right {
        color: white;
        position: absolute;
        left: 103%;
        top: 200px;
        font-size: 42px;
        padding: 35px;
    }  #overlay-avatar {
        width: 130px;
        height: 130px;
        margin: 25px auto;
    } #overlay-top {
        padding-bottom: 20px;
        border-bottom: 2px solid lightgray;
        border-radius: 2px;
        margin: 0 8% -2px;
    } #overlay-bottom {
        padding-top: 20px;
        border-top: 2px solid lightgray;
        border-radius: 2px;
        margin: -2px 8% 0;
    }

/*******************************************************************************
--- Class Selectors ---
*******************************************************************************/

.employee {
    background-color: white;
    max-width: 260px;
    min-width: 260px;
    padding: 15px 15px 20px 15px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    text-overflow: clip;
    text-align: left;
    white-space: nowrap;
    } .employee:hover {
        border-color: black;
    } .employee-avatar {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-bottom: -12px;
    } .employee-details {
        display: inline-block;
        padding-left: 15px;
        text-overflow: clip;
        white-space: nowrap;
    }

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

.hide {
    display: none;
}

@keyframes removeOpacity {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes addOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in {
    animation-name: addOpacity;
    animation-duration: 0.6s;
}

.fade-out {
    animation-name: removeOpacity;
    animation-duration: 0.6s;
}


/*******************************************************************************
  --- Media Queries ---
*******************************************************************************/

@media (max-width: 740px) {

    header {
        display: block;
    }

    h1 {
        margin: 50px auto 25px;
    }

    ul {
        padding: 0;
    }

    #search {
        width: 90%;
        margin-bottom: 25px;
        padding: 20px;
        font-size: 18px;
    }

    #employees {
        margin: 0;

        } #employees h1 {
            text-align: center;
        }

    .employee:not(.hide) {
        display: table;
        max-width: none;
        width: 85%;
        margin: 10px auto;
        padding-top: 40px;
        padding-bottom: 57px;
    }

    .employee-avatar {
        width: 110px;
        height: 110px;
        margin-bottom: -24px;
    }

    #overlay {
        width: 90%;
        height: auto;
        padding: auto;
        margin: 5%;
    } #overlay p {
        line-height: normal;
    } #overlay-slide-left {
        color: darkgray;
        right: 88%;
        top: 390px;
        font-size: 42px;
    } #overlay-slide-right {
        color: darkgray;
        left: 88%;
        top: 390px;
        font-size: 42px;
    }
}

@media (min-width: 741px) {

    .employee:not(.hide) {
        display: inline-block;
    }
}
